.A{
    background-color: blueviolet;
}
.B{
    background-color: darkorchid;
}
.C{
    background-color: magenta;
    width: fit-content;
}
h2{
    font-family: "Monotype Corsiva";
    font-size: xxx-large;
}